diffusers==0.12.0
#diffusers==0.14.0
transformers>=4.21.0
ftfy
spacy
boto3
sagemaker
nvgpu
accelerate==0.12.0
torchvision
bitsandbytes
deepspeed==0.8.2
#https://publish.djl.ai/deepspeed/deepspeed-0.8.0-py2.py3-none-any.whl
ninja
#triton==2.0.0.dev20221120
triton==2.0.0.dev20221202
#https://github.com/TheLastBen/fast-stable-diffusion/raw/main/precompiled/T4/xformers-0.0.13.dev0-py3-none-any.whl
#https://github.com/brian6091/xformers-wheels/releases/download/0.0.15.dev0%2B4c06c79/xformers-0.0.15.dev0+4c06c79.d20221205-cp38-cp38-linux_x86_64.whl