diffusers==0.12.0
accelerate==0.17.1
transformers==4.27.3
ftfy
spacy
boto3
sagemaker
nvgpu
s3fs
omegaconf
imwatermark
sentencepiece
https://publish.djl.ai/deepspeed/deepspeed-0.8.3-py2.py3-none-any.whl
ninja
triton==2.0.0.dev20221120
deepspeed-mii==0.0.4
clip==0.2.0